<nav>
  <a routerLink="/" class="logo" (click)="fecharMenu()">
    <img class="logo-main" src="assets/logotipo.svg" alt="" />
    Vila Animal
  </a>
  <ul class="nav-links" [class.open]="menuAberto">
    <li><a [routerLink]="['/']" fragment="inicio" (click)="fecharMenu()">Início</a></li>
    <li><a [routerLink]="['/']" fragment="servicos" (click)="fecharMenu()">Serviços</a></li>
    <li><a [routerLink]="['/']" fragment="sobre" (click)="fecharMenu()">Sobre</a></li>
    <li><a [routerLink]="['/']" fragment="contato" (click)="fecharMenu()">Contato</a></li>
    <li>
      <a [routerLink]="['/']" fragment="contato" class="btn-nav" (click)="fecharMenu()">Agendar</a>
    </li>
  </ul>
  <button class="hamburger" [class.open]="menuAberto" (click)="toggleMenu()" aria-label="Menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
