nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 68px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  font-size: 1.4rem;
  color: var(--purple-dark2);
  text-decoration: none;
  white-space: nowrap;
}

.logo-main {
  width: 122px;
  height: auto;
  object-fit: contain;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--muted);
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.2s;

  &:hover {
    color: var(--text);
  }
}

.btn-nav {
  background: var(--purple-dark2);
  color: #fff !important;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: 600 !important;
  transition: background 0.2s !important;

  &:hover {
    background: var(--purple-dark) !important;
  }
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;

  span {
    display: block;
    width: 24px;
    height: 2px;
    background: var(--purple-dark2);
    border-radius: 2px;
    transition:
      transform 0.3s,
      opacity 0.3s;
  }

  &.open span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  &.open span:nth-child(2) {
    opacity: 0;
  }
  &.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@media (max-width: 900px) {
  .hamburger {
    display: flex;
  }

  .logo {
    font-size: 1.1rem;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.98);
    backdrop-filter: blur(12px);
    flex-direction: column;
    gap: 0;
    border-bottom: 1px solid var(--border);
    z-index: 99;

    &.open {
      display: flex;
    }

    li {
      border-bottom: 1px solid var(--border);
      width: 100px;
      text-align: center;
    }

    a {
      display: block;
      padding: 1rem 5%;
      font-size: 1rem;
    }

    .btn-nav {
      margin: 1rem 5%;
      display: block;
      text-align: center;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: none;
    }
  }
}
